<div class="container-fluid">
  <div class="row">
    <div align = "center">
      <h1>Shotly</h1>
      <p><h5>MAKE YOUR URL AS SHORT AS POSSIBLE</h5></p>
      <br>
      <div class="col-lg-8 col-lg-offset-2">
        <%= form_tag("/links", method: :post, :html => {class: 'form-horizontal'}) do %>
            <div class="input-group">
              <%= text_field :link, :url, placeholder: "Enter long url", class:"form-control input-lg", required: :true %>
              <span class="input-group-btn">
                <%= submit_tag 'Shorten Url' ,class: "btn btn-primary input-lg" %>
              </span>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
